<!-- views/add.erb -->
<!doctype html>
<html>
<head>
  <title>Substract | Online Calculator</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
  <h3>Add:</h3>
  <form action="/calculate_substract" method="POST">
    <input type="number" name="first_number" placeholder=" number"/> +
    <input type="number" name="second_number" placeholder=" number"/>
    <button type="submit" name="operation" value="-"/>-</button>
  </form>
</body>
</html>
